@namespace Blazwind.Components.Navigation
@inherits BwBase

<div class="@CombineClasses("bw-nav-header")"
     style="@Style" id="@Id" @attributes="AdditionalAttributes">
    @if (!string.IsNullOrEmpty(Image))
    {
        <div class="w-9 h-9 rounded overflow-hidden flex-shrink-0">
            <img src="@Image" alt="@Title" class="w-full h-full object-cover">
        </div>
    }
    else if (!string.IsNullOrEmpty(Icon))
    {
        <div class="bw-nav-header-icon">
            <i class="@Icon"></i>
        </div>
    }
    <div>
        <div class="bw-nav-header-title">@Title</div>
        @if (!string.IsNullOrEmpty(Subtitle))
        {
            <div class="bw-nav-header-subtitle">@Subtitle</div>
        }
    </div>
    @if (ChildContent != null)
    {
        <div class="ml-auto">
            @ChildContent
        </div>
    }
</div>

@code {

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string? Subtitle { get; set; }

    [Parameter]
    public string? Image { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
