@namespace Blazwind.Components.Navigation
@inherits BwBase

@{
    var _context = new BwNavMenuGroupContext
    {
        Title = Title,
        Icon = Icon,
        IsExpanded = _isExpanded,
        Level = Level,
        GroupId = Id!,
        Toggle = ToggleGroup
    };
}

<div id="@Id" class="@Class" style="@Style" @attributes="AdditionalAttributes" data-nav-group>
    @if (HeaderTemplate != null || _cascadedHeaderTemplate != null)
    {
        var template = HeaderTemplate ?? _cascadedHeaderTemplate;
        @template!(_context)
    }
    else
    {
        <button type="button"
                class="bw-nav-group-header"
                style="padding-left: @(Level * 12 + 12)px"
                onclick="Blazwind.Nav.toggleGroup('@Id')">
            @if (!string.IsNullOrEmpty(Icon))
            {
                <i class="@Icon bw-nav-group-icon"></i>
            }
            <span class="flex-1">@Title</span>
            <i data-nav-chevron
               class="fa-solid fa-chevron-right bw-nav-group-chevron @(_isExpanded ? "rotate-90" : "")"></i>
        </button>
    }

    <div data-nav-items class="flex flex-col gap-0.5 mt-0.5" style="display: @(_isExpanded ? "flex" : "none");">
        <CascadingValue Value="this" Name="ParentGroup">
            <CascadingValue Value="Level + 1" Name="Level">
                <CascadingValue Value="Id" Name="ParentGroupId">
                    @ChildContent
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </div>
</div>

@code {

    [CascadingParameter(Name = "ParentGroup")]
    public BwNavMenuGroup? ParentGroup { get; set; }

    [CascadingParameter(Name = "ParentGroupId")]
    public string? ParentGroupId { get; set; }

    [CascadingParameter(Name = "Level")]
    public int Level { get; set; }

    [CascadingParameter(Name = "NavGroupHeaderTemplate")]
    public RenderFragment<BwNavMenuGroupContext>? _cascadedHeaderTemplate { get; set; }

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public bool DefaultExpanded { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>Custom template for this group's header. Overrides cascaded template.</summary>
    [Parameter]
    public RenderFragment<BwNavMenuGroupContext>? HeaderTemplate { get; set; }

    private bool _isExpanded;

    public string GroupId => Id!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (string.IsNullOrEmpty(Id))
        {
            Id = $"nav-group-{Guid.NewGuid():N}";
        }

        _isExpanded = DefaultExpanded;
    }

    private void ToggleGroup()
    {
        _isExpanded = !_isExpanded;
        StateHasChanged();
    }

}
