@namespace Blazwind.Components.Card
@using Blazwind.Components.Shared
@inherits BwBase

<div class="@CombineClasses($"px-4 py-3 md:px-6 md:py-4 border-b border-gray-100 dark:border-gray-700")" id="@Id" style="@Style" @attributes="AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <div class="flex items-center gap-3">
            <div>
                <h3 class="font-semibold text-gray-900 dark:text-gray-100">@Title</h3>
                @if (!string.IsNullOrEmpty(SubTitle))
                {
                    <p class="text-sm text-gray-500 dark:text-gray-400">@SubTitle</p>
                }
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? SubTitle { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
