@namespace Blazwind.Components.Card
@using Blazwind.Components.Shared
@inherits BwBase

<div class="@CombineClasses("bw-card-header")" id="@Id" style="@Style" @attributes="AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <div class="flex items-center gap-3">
            <div>
                <h3 class="bw-card-title">@Title</h3>
                @if (!string.IsNullOrEmpty(SubTitle))
                {
                    <p class="bw-card-subtitle">@SubTitle</p>
                }
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? SubTitle { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
