@namespace Blazwind.Components.Result
@inherits BwBase

@{
    var statusClass = Status switch
    {
        BwResultStatus.Success => "bw-result-success",
        BwResultStatus.Error => "bw-result-error",
        BwResultStatus.Info => "bw-result-info",
        BwResultStatus.Warning => "bw-result-warning",
        BwResultStatus.NotFound404 => "bw-result-notfound",
        BwResultStatus.InternalError500 => "bw-result-internal",
        BwResultStatus.Forbidden403 => "bw-result-forbidden",
        _ => "bw-result-info"
    };

    var containerClass = CombineClasses("bw-result", statusClass);
}

<div class="@containerClass" style="@Style" id="@Id" @attributes="AdditionalAttributes">
    @* Icon *@
    @if (Icon != null)
    {
        <div class="bw-result-icon">
            @Icon
        </div>
    }
    else
    {
        var iconName = Status switch
        {
            BwResultStatus.Success => "fa-circle-check",
            BwResultStatus.Error => "fa-circle-xmark",
            BwResultStatus.Info => "fa-circle-info",
            BwResultStatus.Warning => "fa-triangle-exclamation",
            BwResultStatus.NotFound404 => "fa-file-circle-question",
            BwResultStatus.InternalError500 => "fa-server",
            BwResultStatus.Forbidden403 => "fa-shield-halved",
            _ => "fa-circle-info"
        };

        <div class="bw-result-icon">
            <i class="fa-solid @iconName"></i>
        </div>
    }

    @* Content *@
    <div class="bw-result-container">
        @if (!string.IsNullOrEmpty(Title))
        {
            <h3 class="bw-result-title">@Title</h3>
        }

        @if (!string.IsNullOrEmpty(Subtitle))
        {
            <p class="bw-result-subtitle">@Subtitle</p>
        }

        @if (Extra != null)
        {
            <div class="bw-result-extra">
                @Extra
            </div>
        }

        @if (ChildContent != null)
        {
            <div class="bw-result-content">
                @ChildContent
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public BwResultStatus Status { get; set; } = BwResultStatus.Info;

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Subtitle { get; set; }

    [Parameter]
    public RenderFragment? Icon { get; set; }

    [Parameter]
    public RenderFragment? Extra { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    // Removed Class parameter (inherited)

    public enum BwResultStatus
    {
        Success,
        Error,
        Info,
        Warning,
        NotFound404,
        Forbidden403,
        InternalError500
    }

}
